body {
	
	background-color: #eee;
	color: #444;
	
}

#chess-board {
	
	width: 600px;
	height: 600px;
	margin-left: 180px;
	margin-top: 50px;
	border: 1px solid #222;
	
	
}

#chess-board td {
	border: 1px solid #222;
	height: 50px;
	width: 50px;
	text-align: center;
}

.chess-cell i { 
	font-size: 45px;
}

#chess-board td:hover {
	cursor: pointer;
}

.black {
	background-color: #DAB57C;
}

.white {
	background-color: #EBE8E5;
}

.black:hover {
	background-color: #D1A768;
}

.white:hover {
	background-color: #EEECED;
}

.player {
	width: 100px;
	border-radius: 5px;
	font-family: "Grechen Fuemen", serif;
	text-align: center;
	margin-left: 80px;
}
.player-avatar img {
	width: 100px;
	border: 1px solid #444;
}

.timer-section {
	display: flex;
    justify-content: center;
}

.timer {
	font-size: 30px;
	margin-right: 10px;
}

.timer-section button {
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
	margin-right: 5px;
}

.timer-section button:hover {
	cursor: pointer;
}